<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <h5 class='form-header-text text-center'><i class="fas fa-user-plus fa-2x"></i>　ログイン</h5>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="email">メールアドレス</label>
          </div>
          <%= f.email_field :email, class:"input-default", id:"email", autofocus: true %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text" for="password">パスワード</label>
          </div>
          <%= f.password_field :password, class:"input-default", id:"password" %>
        </div>

        <div class='register-btn text-center'>
          <%= f.submit "会員登録" ,class:"btn search-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
